<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bunchofstring.precisiontime">

    <uses-permission android:name = "android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name = "android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--suppress AndroidDomInspection -->
    <instrumentation android:targetPackage="com.bunchofstring.precisiontime"
        android:name="androidx.test.runner.AndroidJUnitRunner" />

    <application />

</manifest>