<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.precisiontimetest.test">

    <instrumentation android:targetPackage="com.example.precisiontimetest"
        android:name="androidx.test.runner.AndroidJUnitRunner"/>

</manifest>