<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bunchofstring.precisiontime.test">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <instrumentation android:targetPackage="com.bunchofstring.precisiontime"
        android:name="com.bunchofstring.precisiontime.test.core.CustomInstrumentationRunner">

        <meta-data
            android:name="listener"
            android:value="com.bunchofstring.precisiontime.test.core.FailureListener" />

    </instrumentation>

    <application/>

<!--    <application tools:replace="label" android:label="BasicSampleTest" />-->

</manifest>